.Filters{
  margin: 0 4px;
  height: auto;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: row;
  .search-div{
    padding: 20px;
    border: 1px solid rgb(224, 224, 224);
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    input{
      border:none;
      outline: none;
    }
    .search-btn{
      align-items: center;
      display: flex;
      .search-button{
        color:white;
        background-color:#FF5A5F;
        padding: 10px 50px;
        border-radius: 10px;
        border:none;
        outline: none;
        width: 100%;
        cursor: pointer;
      }
    }
    @media (max-width:980px){
      .search-btn{
        flex-direction: column;
        justify-content: center;
        .search-button{
          margin-top: 10px;
        }
      }
    }
  }
  @media (max-width:980px){
    .search-div{
      flex-direction: column;
      justify-content: center;
    }
  }
  .filter-div{
    padding: 20px;
    border: 1px solid rgb(224, 224, 224);
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .places-autocomplete{
      .Demo__search-bar-container{
        .Demo__autocomplete-container{
          position: absolute;
          background-color: white;
          z-index: 50;
          margin:0px;
          padding: 20px;
          width: 100%;
          border-bottom: 2px solid #E0E0DA;
          border-left: 2px solid #E0E0DA;
          border-right: 2px solid #E0E0DA;
          margin-left: -22px;
          width : 101.2%;
          @media (max-width:1297px){
            width: 101.4%;
          }
          @media (max-width:1058px){
            width: 101.6%;
          }
          @media (max-width:953px){
            width: 101.8%;
          }
          @media (max-width:860px){
            width: 102.2%;
          }
          @media (max-width:767px){
            width: 100.6%;
          }
          @media (max-width:655px){
            width: 100.7%;
          }
          @media (max-width:571px){
            width: 100.8%;
          }
          @media (max-width:509px){
            width: 100.9%;
          }
          @media (max-width:460px){
            width: 101%;
          }
          @media (max-width:421px){
            width: 101.1%;
          }
        }
      }
    }
    .DateRangePickerInput__withBorder{
      border : none;
      .DateInput {
        .DateInput_input{
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    input{
      border:none;
      outline: none;
      width: 100%;
    }
  }
  @media (max-width:767px){
    flex-direction: column;
  }
}
