.PlaceDetails{
  padding-top: 80px;
  height: auto;
  padding-bottom: 50px;
  .img-div{
    width: 100%;
    height: 300px;
    
    img{
      width: 100%;
      height: 100%;
      align-self: center;
      object-fit: cover;
    }
  }
  .content{
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    .content-left{
      text-align: left;
      .top-content{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        align-items: center;
        margin-bottom: 30px;
        .top-content-left{
          h3{
            margin-top: 8px;
          }
          img{
            height: 60px;
            border-radius: 30px;
          }
        }
      }
      .middle-content-left{
        content:"\f000";
        p{
          margin-bottom: 0;
          i{
            padding-right: 10px;
          }
        }
        .place-type{
          display: flex;
          flex-direction: row;
          text-align: center;
          p {
            margin: 0 10px;
          }
        }
      }
    }
      .content-right{
        border: 1px solid rgb(224, 224, 224);
        height: auto;
        padding: 20px;
        position: sticky;
        position: -webkit-sticky;
        top: 120px;
        .price{
          display: flex;
          align-items: center;
          h2{
            text-align: left;
            display: flex;
            align-items: baseline;
          }
          h5{
            margin-left: 5px;
          }
      }
      .reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-top: -10px;
        h6{
          margin-bottom: 4px;
          line-height: 0;
          padding-left: 10px;
        }
      }
      h4{
        text-align:left;
      }
      .book-div{
        padding: 10px 20px;
        border: 1px solid rgb(224, 224, 224);
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 20px;
        input{
          border:none;
          outline: none;
          width: 40%;
          overflow: hidden;
        }
        .guests{
          width: 100%;
        }
        .date-2{
          margin-left: 5px;
          @media (max-width:807px) {
            margin-left: 0;
          }
        }
      }
      .booking-button{
        color:white;
        background-color:#FF5A5F;
        padding: 13px;
        border-radius: 10px;
        border:none;
        outline: none;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
      }
      @media (max-width: 600px){
        margin-top: 20px;
      }
      @media (max-width: 1200px){
        padding: 5% 5%;
      }
    }
    @media (max-width: 767px){
        flex-direction: column-reverse;
        .content-right{
          margin-bottom: 30px;
        }
    }
  }
  .more{
    .booking-button{
      color:white;
      background-color:#484848;
      padding: 13px 50px;
      border-radius: 10px;
      border:none;
      outline: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
    }
  }
}