.PlaceDetails{
  padding-top: 80px;
  height: auto;
  padding-bottom: 50px;
  .img-div{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    .big-img{
      margin:0;
      padding: 0;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        align-self: center;
        object-fit: cover;
        transition: all 0.3s ease-out;
      }
    }
    .little-img{
      margin:0;
      padding: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      img{
        height: 50%;
        width: auto;
        object-fit: cover;
        transition: all 0.3s ease-out;
      }
    }
    img:hover{
      backface-visibility: hidden;
      transform: scale(1.05);
      opacity: 1;
      object-fit: cover;
    }
    .save-button, .pictures-button{
      color:#484848;
      background-color:white;
      border-radius: 10px;
      border:none;
      outline: none;
      width: 150px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      outline: none;
      cursor: pointer;
    }
    .save-button{
      position: absolute;
      top: 100px;
      right: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px 13px;
      img{
        height: 20px;
        width: auto;
        margin-right: 8px;
      }
    }
    .pictures-button{
      position: absolute;
      top: 320px;
      right: 20px;
      padding: 13px;
    }
  }
  .content{
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    .content-left{
      text-align: left;
      .top-content{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        align-items: center;
        margin-bottom: 30px;
        .top-content-left{
          h3{
            margin-top: 8px;
            text-transform: lowercase;
          }
          h3::first-letter{
            text-transform: uppercase;
          }
          h5::first-letter{
            text-transform: uppercase;
          }
          img{
            height: 60px;
            border-radius: 30px;
          }
        }
      }
      .middle-content-left{
        content:"\f000";
        p{
          margin-bottom: 0;
          i{
            padding-right: 10px;
          }
          ::first-letter{
            text-transform: uppercase;
          }
        }
        .place-type{
          display: flex;
          flex-direction: row;
          text-align: center;
          p {
            margin: 0 10px;
          }
        }
      }
    }
      .content-right{
        z-index: 1000;
        border: 1px solid rgb(224, 224, 224);
        height: auto;
        padding: 20px;
        position: sticky;
        position: -webkit-sticky;
        top: 120px;
        .price{
          display: flex;
          align-items: center;
          h2{
            text-align: left;
            display: flex;
            align-items: baseline;
          }
          h5{
            margin-left: 5px;
          }
      }
      .reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-top: -10px;
        h6{
          margin-bottom: 4px;
          line-height: 0;
          padding-left: 10px;
        }
      }
      h4{
        text-align:left;
        margin-top: 10px;
      }
      .DateRangePicker{
        width: 100%;
        .DateRangePickerInput{
          width: 100%;
          .DateInput{    
            width: 40%;
            .DateInput_input{
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
      .DateRangePicker_picker{
        @media(max-width: 619px){
          display: none;
        }
      }
      .DateInput_fang{
        z-index:500;
        @media(max-width: 619px){
          display: none;
        }
      }
      .book-div{
        padding: 10px 20px;
        border: 1px solid rgb(224, 224, 224);
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 20px;
        input{
          border:none;
          outline: none;
          overflow: hidden;
        }
        .guests{
          width: 100%;
        }
        .date-2{
          margin-left: 5px;
          @media (max-width:807px) {
            margin-left: 0;
          }
        }
      }
      .booking-button{
        color:white;
        background-color:#FF5A5F;
        padding: 13px;
        border-radius: 10px;
        border:none;
        outline: none;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
      }
      .clickable{
        cursor: pointer;
      }
      .unclickable{
        cursor: default;
      }
      @media (max-width: 600px){
        margin-top: 20px;
      }
    }
    @media (max-width: 767px){
        flex-direction: column-reverse;
        .content-right{
          margin-bottom: 30px;
        }
    }
    @media (max-width: 991px){
      padding: 5% 5%;
    }
    @media (max-width: 1200px){
      padding: 5% 10%;
    }
  }
  .more{
    .booking-button{
      color:white;
      background-color:#484848;
      padding: 13px 50px;
      border-radius: 10px;
      border:none;
      outline: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      cursor: pointer;
    }
  }
    .popup-content{
      ul{
        padding-inline-start: 0;
        .slide{
          div{
            height: 100%;
          }
          img{
            height: 100%;
            object-fit: cover;
          }
        }
      }
      ul.thumbs.animated{
        margin: 0;
      }
      .carousel .thumbs-wrapper {
        display: none;
      }
      .carousel-status{
        display: none;
      }
    }
}
