.SearchBar{
  input{
    background-image: url(../../images/glass.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff !important;
    -webkit-transition: box-shadow 200ms ease-in !important;
    -moz-transition: box-shadow 200ms ease-in !important;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    height: 48px !important;
    width: 400px;
    margin: 0 10px;
    outline: none;
    padding: 13px;
    text-indent: 30px;
    background-origin: content-box;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 13px;
    text-transform: uppercase;
  }
  @media (max-width: 576px){
    input{
      width: 300px;
    }
  }
  @media (max-width: 500px){
    input{
      width: 230px;
    }
  }
  @media (max-width: 450px){
    input{
      width: 210px;
    }
  }
}