.SearchBar{ 
  form{
    display: flex;
    align-items: center;
    .search-btn{
      .search-button{
        content:"\f061";
        color: #aaaaaa;
        background-color:white;
        border:none;
        outline: none;
        font-size: 25px;
        margin-left: -75px;    
        z-index: 200;
        cursor: pointer;
      }
    }
    input{
      background-image: url(../../images/glass.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #ffffff !important;
      -webkit-transition: box-shadow 200ms ease-in !important;
      -moz-transition: box-shadow 200ms ease-in !important;
      transition: box-shadow 200ms ease-in !important;
      border: 1px solid #EBEBEB !important;
      border-radius: 4px !important;
      box-shadow: 0 2px 4px rgba(0,0,0,0.05) !important;
      height: 48px !important;
      width: 400px;
      margin: 0 10px;
      outline: none;
      padding: 13px;
      text-indent: 30px;
      background-origin: content-box;
      letter-spacing: 1px;
      font-size: 12px;
      padding: 13px;
      text-transform: uppercase;
      z-index: -10;
      @media (max-width: 576px){
        width: 300px;
      }
      @media (max-width: 500px){
          width: 230px;
      }
      @media (max-width: 450px){
          width: 210px;
      }
    }
    .Demo__autocomplete-container{
      position: absolute;
      background-color: white;
      width: 400px;
      margin: -3px 13px 0 10px;
      border-bottom: 1px solid #EBEBEB;
      border-left: 1px solid #EBEBEB;
      border-right: 1px solid #EBEBEB;
      padding: 13px;
      @media (max-width:576px){
        width: 300px;
      }
      @media (max-width: 500px){
          width: 230px;
      }
      @media (max-width: 450px){
          width: 210px;
      }
    }
  }
}