.PlaceDetails{
  height: auto;
  padding-bottom: 50px;
  .img-div{
    width: 100%;
    height: 250px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .content{
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    .content-left{
      text-align: left;
      h3{
        margin-top: 8px;
      }
    }
    .content-right{
      border: 1px solid rgb(224, 224, 224);
      height: auto;
      padding: 20px;
      .price{
        display: flex;
        align-items: center;
        h2{
          text-align: left;
          display: flex;
          align-items: baseline;
        }
        h5{
          margin-left: 5px;
        }
      }
      
      .reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-top: -10px;
        h6{
          margin-bottom: 4px;
          line-height: 0;
          padding-left: 10px;
        }
      }
      .booking-button{
        color:white;
        background-color:#FF5A5F;
        padding: 10px 10px;
        border-radius: 10px;
        border:none;
        outline: none;
        width: 100%;
      }
      @media (max-width: 600px){
        margin-top: 20px;
      }
    }
    @media (max-width: 800px){
      padding: 5% 5%;
    }
    @media (max-width: 600px){
      flex-direction: column;
      padding: 5% 10%;
    }
  }
}